version: '3.9'

services:
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - ./data/mongodb:/data/db

  diana-db:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "34567:34567"
    volumes:
      - ./data/diana-db:/var/lib/diana-db

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: benchmark
      POSTGRES_PASSWORD: benchmark
      POSTGRES_DB: benchmark
    ports:
      - "5432:5432"
    volumes:
      - ./data/pg:/var/lib/postgresql/data
